$color_1: #f21b7f;
$color_2: #e9c6c2;
$color_3: #c1978b;
$color_4: #f21b7f;
$color_5: #999;
$color_6: #e9c6c2;
$color_7: #050507;
$color_8: #aea9b0;
$font-family_1: "Lora", serif, "Montserrat", sans-serif;
$font-family_2: "Montserrat";
$font-family_3: "Lora", serif;
$font-family_4: sans-serif;
$background-color_1: #e9c6c2;
$background-color_2: #050507;
$background-color_3: #f21b7f;
$background-color_4: #f21b7f;
$background-color_5: #f1f5ef;
$background-color_6: #e9c6c2;
$background-color_7: #f7f7f7;
$background-color_8: #eee;
$background-color_9: #aea9b0;
$background-color_10: rgba(255, 255, 255, 0.8);
$border-color_1: #050507;
